<div class="col-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
  <h1 class="mt-5">Login!</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
  </form>
</div>
