<div class="col-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
  <h1 class="mt-5">Registration!</h1>

  <div class="row" *ngIf="authError">
    <div class="alert alert-danger">
      {{authError?.message}}
    </div>
  </div>

  <form #newUserForm="ngForm" (ngSubmit)="register(newUserForm)">
    <div class="form-group">
      <label for="firstName">Nombre</label>
      <input ngModel #firstName="ngModel" name="firstName" type="firstName" class="form-control">
    </div>

    <div class="form-group">
      <label for="lastName">Apellido</label>
      <input ngModel #lastname="ngModel" name="lastName" type="lastName" class="form-control" >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel #email="ngModel" name="email" type="email" class="form-control" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel #password="ngModel" name="password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
