<div class="col-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
  <h1 class="mt-5">Registration!</h1>

  <div class="row" *ngIf="authError">
    <div class="alert alert-danger">
      {{authError?.message}}
    </div>
  </div>

  <form #newUserForm="ngForm" (ngSubmit)="register(newUserForm)">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" >
    </div>

    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input type="text" class="form-control" id="lastname" >
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="cpassword">Confirmar Password</label>
      <input type="password" class="form-control" id="cpassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
