
<ng-container *ngIf="user">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" *ngIf="user">Bienvenido: {{user?.displayName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-md-auto">
        <li class="nav-item active">
          {{user?.email}}
        </li>
      </ul>
      <button class="btn btn-primary" *ngIf="user" (click)="logout()">Salir</button>
    </div>
  </nav>
  <div class="container-fluid">
    <app-list></app-list>
  </div>
</ng-container>
<!-- este if lo hago para manejar cuando se ingresa por la url y no se esta autentificado, se carga el componente login , no conosco una forma rapida y eficiente de como hacer esto, me falto research ahi :/ -->
<ng-container *ngIf="!user">
  <app-login></app-login>
</ng-container>

