<div class="abrir-modal" *ngIf="modalService.modal" >
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" *ngIf="user">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark mb-3" >
                  <li class="list-group-item ">Nombre: {{user.name.first}}&nbsp;{{user.name.last}}</li>
                  <li class="list-group-item ">Email: {{user.email}}</li>
                  <li class="list-group-item ">Ubicacion: {{user.location.city}}, {{user.location.country}}</li>
                  <li class="list-group-item ">Zona horaria: {{user.location.timezone.offset}}</li>
                  <li class="list-group-item ">Nacimiento: {{user.dob.date | date}}</li>
                  <li class="list-group-item ">Edad: {{user.dob.age}}</li>
                  <li class="list-group-item ">Phone: {{user.cell}}</li>
                </ul>
              </div>
              <div class="col-sm">
                <img *ngIf="user?.picture?.large" src="{{user.picture.large}}" style="width:250px;height:auto;margin-left: auto;margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
