.flex-container {
  flex-flow: flex-direction;
  flex-wrap: wrap;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  margin: 10px;
  width: 100px;
  height: 100px;

  line-height: 100px;
  font-weight: bold;
  font-size: 2em;
}
