<div class="col-12 col-sm-12 col-md-8 col-lg-10 mx-auto">
  <h1 class="mt-2">Listado de usuarios</h1>

  <div *ngFor="let user of users" class="d-inline-flex m-1" >
      <div class="card" style="width: 18rem;">
        <img src="{{user.picture.large}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{user.name.first}}&nbsp;{{user.name.last}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
</div>
